<div ng-controller="todosCtrl">
  <!-- <pre>{{ todos | filter:'smieci' | json:2 }}</pre> -->
  <!-- <pre>{{ todos | filter:{title:'smieci'} | json:2 }}</pre> -->
  <!-- <pre>{{ todos | filter:{completed:true} | json:2 }}</pre> -->

  <h3>
    <span ng-click="mode = 'todos'" ng-class="{'text-muted': mode == 'todos'}">
      Todos
    </span>
    |
    <span
      ng-click="mode = 'archive'"
      ng-class="{'text-muted': mode == 'archive'}"
    >
      Archive
    </span>
  </h3>
  <!-- Todos -->
  <div ng-if="mode == 'todos'">
    <div class="list-group mb-3">
      <div class="list-group-item" ng-repeat="todo in todos.list">
        <input
          type="checkbox"
          ng-model="todo.completed"
          ng-change="todoUpdated(todo)"
        />

        <span
          ng-style="{
          'text-decoration': todo.completed? 'line-through' : 'none',
        }"
        >
          {{$index + 1}}. {{todo.title}}
        </span>
      </div>
    </div>
    <hr />
    <div class="input-group">
      <input type="text" class="form-control" ng-model="draft.title" />
      <input
        type="button"
        value="Add"
        class="btn btn-success"
        ng-click="addTodo()"
      />
    </div>
    <hr />
    <div class="input-group">
      <span class="form-control">
        Completed: {{ completedCount }}
      </span>
      <span class="form-control">Archived: {{archived.length}}</span>

      <input
        type="button"
        value="Clear"
        class="btn btn-danger"
        ng-click="clearCompleted()"
      />
    </div>
  </div>

  <!-- Archive -->
  <div ng-if="mode == 'archive'">
    <div class="list-group mb-3">
      <div class="list-group-item" ng-repeat="todo in todos.archived">
        <input
          type="checkbox"
          ng-model="todo.completed"
          ng-change="todoUpdated(todo)"
        />

        <span
          ng-style="{
          'text-decoration': todo.completed? 'line-through' : 'none',
        }"
        >
          {{$index + 1}}. {{todo.title}}
        </span>
      </div>
    </div>
  </div>
</div>

<!-- 
<todos-list data="todos"></todos-list>

<add-todo-form on-save="saveTodo($event)"></add-todo-form>

<todos-archive data="arvhived"></todos-archive> 
-->