<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-controller="appCtrl">
    
    <div ng-include=" 'src/nav.tpl.html' "></div>

    <div class="container">
      <div class="row">
        <div class="col">          

          <!-- <div ng-include=" currentView.url "></div> -->
          <!-- <ui-view></ui-view> -->
          <div ng-view></div>
        </div>
      </div>
    </div>

    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <!--  -->
    <script src="src/users/users.api.module.js"></script>
    <script src="src/todos/todos.module.js"></script>
    <script src="src/users/users.module.js"></script>
    <script src="src/settings/settings.module.js"></script>
    <!--  -->
    <script src="src/todos/todos.ctrl.js"></script>
    <!--  -->
    <script src="src/app.module.js"></script>
  </body>
</html>
