.settings-box {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

form.ng-submitted .ng-invalid:not([ng-form]),
form .ng-invalid.ng-dirty:not([ng-form]),
form .ng-invalid.ng-touched:not([ng-form]) {
  border: 2px solid red;
}

form.ng-submitted .ng-valid:not([ng-form]),
form .ng-valid.ng-dirty:not([ng-form]),
form .ng-valid.ng-touched:not([ng-form]) {
  border: 2px solid green;
}
