<div ng-controller="settingsCtrl">
  <h1>Settings</h1>
  {{message}}
  <pre>{{setting | json:2}}</pre>

  <input type="text" ng-model="setting.color.value" >

  <settings-box
    label-name="Color"
    value="setting.color.value"
    on-save="setting.color.value = $event"
  >
  </settings-box>

  <settings-box
    label-name="Size"
    value="setting.size.value"
    on-save="updateSetting('size', $event)"
  >
  </settings-box>

  <settings-box
    label-name="Placki"
    value="setting.placki.value"
    on-save="updateSetting('placki', $event)"
  >
  </settings-box>
</div>
