<!-- <div ng-controller="usersCtrl as userVm"> -->
<h2>{{$resolve.title}}</h2>

<!-- <pre>{{userVm.route | json:2}}</pre> -->

<div class="row">
  <div class="col">
    <button class="btn btn-info" ng-click="userVm.createNew()">
      Create New User
    </button>

    <users-list
      users="userVm.model.users"
      selected="userVm.mode.selected"
      on-user-select="userVm.parentSelect($event)"
    >
    </users-list>
  </div>
  <div class="col">
    <!-- <pre>{{ userVm.mode | json:2 }}</pre> -->

    <user-details
      user="userVm.mode.selected"
      on-edit="userVm.editUser(userVm.mode.selected)"
      ng-if="userVm.mode.details"
      on-cancel="userVm.cancel()"
    >
    </user-details>

    <hr />

    <!-- <p ng-if="userVm.mode." class="alert alert-danger">
        Error {{userVm.isError.message}}
      </p> -->

    <p ng-if="userVm.mode.message" class="alert alert-info">
      {{userVm.mode.message}}
    </p>

    <user-edit-form
      ng-if="userVm.mode.edit"
      user="userVm.mode.selected"
      on-save="userVm.save($event)"
      on-cancel="userVm.cancel()"
    >
    </user-edit-form>

    <user-edit-form
      ng-if="userVm.mode.create"
      user="userVm.mode.selected"
      on-save="userVm.saveNew($event)"
      on-cancel="userVm.cancel()"
    >
    </user-edit-form>
  </div>
</div>
<!-- </div> -->

<!-- 
    <div class="list-group">
      <div
        class="list-group-item"
        ng-class="{ active: userVm.selected.id === user.id }"
        ng-click="userVm.select(user)"
        ng-repeat="user in userVm.model.users"
      >
        {{user.username}}
      </div>
    </div>
  
    {{userVm.selected.username}} -->

<!-- <div ng-controller="usersCtrl">
  userVm.user.name

  <div ng-repeat="user in userVm.friends">
      <div ng-controller="usersCtrl">
        userVm.user.name

        $parent.$parent.userVm.user.name // parent user
      </div>
  </div>
</div>
-->

<!-- 
<div ng-controller="usersCtrl as parentUser">
  parentUser.user.name

  <div ng-repeat="user in userVm.friends">
      <div ng-controller="usersCtrl as friendUser">
        friendUser.user.name

        <button ng-click="parentUser.unfiriend(friendUser)"></button>
      </div>
  </div>
</div> -->
