<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#!/todos">
            Todos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/users">
            Users
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/settings">
            Settings
          </a>
        </li>

        <!-- <li style="flex: 1 0 100%;"></li>
        <li class="nav-item">
          <a class="nav-link">
            {{ user.name }}
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
